<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>贵安新区</title>
    <link rel="stylesheet" href="/scripts/css/bootstrap.min.css">
    <link rel="stylesheet" href="/openlayers/ol.css">
    <script src="/openlayers/ol-debug.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="container-fluid" id="container">
    <div class="row">
        <div class="col-9">
            <div  id="map" class="map" ></div>
        </div>
        <div class="col" style="width: 100%">
            <form action="/postOriginFile" enctype="multipart/form-data" method="post" id="originForm">
                <div class="kv">
                    <label>原geojson文件：</label>
                    <input type="file" id="originFile" name="originFile">
                </div>
            </form>
            <form action="/postTestFile" enctype="multipart/form-data" method="post" id="testForm">
            <div class="kv">
                <label>新geojson文件：</label>
                <select>
                    <option>上传文件</option>
                    <option>手绘</option>
                </select>
                <input type="file" id="testFile" name="testFile">
            </div>
            </form>
            <div class="buttonGroup">
                <button id="viewIt">预览</button>
                <button id="downloadFile" style="display: none;">下载</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $(".row").height($(window).height())
        $("#originFile").on("change",function(){
            $("#originForm").submit()
        })
        $("#testFile").on("change",function(){
            $("#testForm").submit()
        })











        var image = new ol.style.Circle({
            radius: 5,
            fill: null,
            stroke: new ol.style.Stroke({color: 'red', width: 1})
        });

        var styles = {
            'Point': new ol.style.Style({
                image: image
            }),
            'LineString': new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: 'green',
                    width: 1
                })
            }),
            'MultiLineString': new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: 'green',
                    width: 1
                })
            }),
            'MultiPoint': new ol.style.Style({
                image: image
            }),
            'MultiPolygon': new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: 'rgba(85, 85, 85, 1)',
                    width: 2
                }),
                fill: new ol.style.Fill({
                    color: 'rgba(85, 85, 85, 0.5)'
                })
            }),
            'Polygon': new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: 'rgba(85, 85, 85, 1)',
                    width: 2
                }),
                fill: new ol.style.Fill({
                    color: 'rgba(85, 85, 85, 0.5)'
                })
            }),
            'GeometryCollection': new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: 'magenta',
                    width: 2
                }),
                fill: new ol.style.Fill({
                    color: 'magenta'
                }),
                image: new ol.style.Circle({
                    radius: 10,
                    fill: null,
                    stroke: new ol.style.Stroke({
                        color: 'magenta'
                    })
                })
            }),
            'Circle': new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: 'red',
                    width: 2
                }),
                fill: new ol.style.Fill({
                    color: 'rgba(255,0,0,0.2)'
                })
            })
        };

        var styleFunction = function(feature) {
            return styles[feature.getGeometry().getType()];
        };


        var map = new ol.Map({
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            target: 'map',
            view: new ol.View({
                center: [0, 0],
                zoom: 2
            })
        });

        <% if(typeof originFile !== 'undefined') { %>
            var  originSource = new ol.source.Vector({
                format: new ol.format.GeoJSON(),
                useSpatialIndex:false,
                url:'/uploads/<%= originFile %>'
            });
            var originVectorLayer = new ol.layer.Vector({
                source:  originSource,
                style: styleFunction
            });
            map.addLayer(originVectorLayer)
            originFileName = '<%= originFile %>';
        $("#testForm").append("<input type='hidden' name='originFileName' value='<%= originFile %>'>")

        <% } %>

        <% if(typeof testFile !== 'undefined') { %>
        var testSource = new ol.source.Vector({
            format: new ol.format.GeoJSON(),
            useSpatialIndex:false,
            url:'/uploads/<%= testFile %>'
        });
        testFileName = '<%= testFile %>';
        var testVectorLayer = new ol.layer.Vector({
            source: testSource,
            style: styleFunction
        });
        map.addLayer(testVectorLayer)
        <% } %>

        var newMapUrl;

        $("#viewIt").on("click",function(){
            $.ajax({
                url:"/viewMap",
                type:"POST",
                data:{"originFileName":originFileName,"testFileName":testFileName},
                success:function(data){
                    newMapUrl = '/uploads/'+data
                    $("#downloadFile").show();
                    // var collection = new ol.Collection(data.features)
                   // var formater = new ol.format.GeoJSON();
                    //var collc = formater.readFeatures(data)
                    var vectorSource = new ol.source.Vector({
                        format: new ol.format.GeoJSON(),
                        useSpatialIndex:false,
                        url:newMapUrl
                    });
                    //vectorSource.addFeatures(collc)
                    var vectorLayer = new ol.layer.Vector({
                        source: vectorSource,
                        style: styleFunction
                    });
                    map.removeLayer(testVectorLayer)
                    map.removeLayer(originVectorLayer)
                    map.addLayer(vectorLayer)
                }
            })
        })

        $("#downloadFile").on("click",function(){
            window.open(newMapUrl)
        })









    })
</script>
</body>
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/umd/popper.min.js"></script>
<script src="/scripts/js/bootstrap.min.js"></script>
</html>